src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:wd-connector="http://www.mulesoft.org/schema/mule/wd-connector" xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" 
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/wd-connector http://www.mulesoft.org/schema/mule/wd-connector/current/mule-wd-connector.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<configuration doc:name="Configuration">
     <expression-language>
         <global-functions>
             def generateUniqueIdFromName(name) {
                 return name + System.currentTimeMillis()
             }
         </global-functions>
     </expression-language>
   </configuration>
    
    <sub-flow name="retrieveCaseSFDC" >
        <sfdc:query config-ref="Salesforce" query="dsql:SELECT Id,Subject,SuppliedEmail,AccountId,ContactId FROM Case WHERE ExtId__c = '#[payload]'" doc:name="Salesforce"/>
    </sub-flow>
    <flow name="hireEmployee">
        <set-variable variableName="uniqueId" value="#[generateUniqueIdFromName(&quot;Bruce_&quot;)]" doc:name="Set uniqueId"/>
        <dw:transform-message doc:name="Create HireEmployee Request">
            <dw:set-payload resource="classpath:HireEmployeeRequest.dwl"></dw:set-payload>
        </dw:transform-message>
        <wd-connector:invoke config-ref="Workday__Basic" type="Staffing||Hire_Employee" doc:name="Workday"/>
        <set-payload value="#[flowVars.uniqueId]" doc:name="Set Payload"/>
    </flow>
    <sub-flow name="deleteSFDC" >
        <sfdc:delete config-ref="Salesforce" doc:name="Salesforce">
            <sfdc:ids ref="#[payload]"/>
        </sfdc:delete>
    </sub-flow>
    <sub-flow name="getWorkdayEmployee" >
        <dw:transform-message doc:name="Create GetEmployee Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:com.workday/bsvc
---
{
	ns0#Employee_Get: {
		ns0#Employee_Reference: {
			ns0#Integration_ID_Reference: {
				ns0#ID @(ns0#System_ID: payload.systemId): payload.value
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <wd-connector:invoke config-ref="Workday__Basic" type="Human_Resources||Get_Employee" doc:name="Workday"/>
        <dw:transform-message metadata:id="0fae10b5-064b-40e7-a850-8e2f915e62fe" doc:name="Get Employee ID">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 urn:com.workday/bsvc
---
{

	EmployeeId: payload.ns0#Employee.ns0#Employee_Data.ns0#Employee_ID
}]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>

    
    <sub-flow name="terminateWorkdayEmployee" >
        <dw:transform-message doc:name="Create TerminateEmployee Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:com.workday/bsvc
---
{
	ns0#Terminate_Employee_Request: {
		ns0#Terminate_Employee_Data: {
			ns0#Employee_Reference: {
				ns0#ID @(ns0#type: payload.EmployeeRefType): payload.EmployeeId
			},
			ns0#Termination_Date: payload.TerminationDate,
			ns0#Terminate_Event_Data: {
				ns0#Primary_Reason_Reference: {
					ns0#ID @(ns0#type: payload.PrimaryReasonRefType): payload.PrimaryReasonRefValue
				}
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <wd-connector:invoke config-ref="Workday__Basic" type="Staffing||Terminate_Employee" doc:name="Workday"/>

    </sub-flow>
    
</mule>
